<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>

<body>

    <header>
        <h2 class="logo">Books</h2>
        <nav class="navigation">
            <a href="/">Home</a>
            <a href="/recommend" class="active">Recommend</a>
            <a href="/contact">Contact</a>
            <a href="/about">About</a>
        </nav>
    </header>

    <section class="recommend">
        <img src="/static/images/recommend.jpg" id="bgg">
        <h1>Search the Title of the book</h1><br>
        <form action="/recommend_books" method="post">
            <!-- <input name="custom_number" id="custom_number" class="number" type="number" placeholder="10-20 for best result"> -->
            <input id="user_input" name="user_input" type="text" class="searchbar" placeholder="Search Books.." autocomplete="off" value="{{user_input}}">
            <div id="dropdown-container" class="dropdown-container"></div>
            <button type="submit" class="search-icon" id="search-form">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg>
            </button>
        </form>
        <h2 style="position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    color: #f2d218;
    font-weight: 700;
    text-shadow: 0px 10px 20px rgba(0, 0, 0, .8);
    letter-spacing: 4px;
    z-index: -1;"></h2>
    </section>

    {% if data %}
    <section class="mightlike">

        {%if similar_books_found %}
        <h2><span style="font-size: 35px;">You searched for "<span style="color: #e4e4e4;font-size: 40px;">{{ data[0][0]
                    }}</span>" book </span><br><br>Readers Also Loved :</h2>
        {% else %}
        <h2><span style="font-size: 35px;">You searched for "<span style="color: #e4e4e4;font-size: 40px;">{{ data[0][0]
                    }}</span>" book </span><br><br>Similar Books :</h2>
        {% endif %}

        {% for i in data %}
        <a style="text-decoration: none;">
            <div class="card" data-name="{{i[0]}}">
                <img src="{{i[2]}}">
                <br>
                <h1>{{i[0]}}</h1>
                <!-- <h3>{{i[1]}}</h3> -->
            </div>
        </a>
        {% endfor %}
    </section>

    <div class="products-preview">
        {% for i in data %}
        <div class="preview" data-target="{{i[0]}}">
            <img class="bgpreview" src="{{i[2]}}">
            <i class="fas fa-times"></i>
            <img class="img" src="{{i[2]}}" alt="">
            <div class="book-info">
                <h1>{{i[0]}}</h1>
                <h3>By - {{i[1]}}</h3>
                <div class="rates">
                    <span class="fa fa-star checked"></span>
                    <h5 class="ratings">{{i[3]}}</h5>
                </div>
                <p class="isbnno">ISBN -</p>
                <p class="isbn_number">{{i[4]}}</p>
                <p class="publisher">Publisher : </p>
                <p class="date">Published Date : </p>
                <p class="page_count">Pages : </p>
                <p class="genre">Genre :</p>
                <!-- <button class="more-info-btn">More Info</button> -->
                <a href="https://www.amazon.in/s?k={{i[0]}}+{{i[1]}}&i=stripbooks" class="buy-now-link"
                    target="_blank">Amazon Link</a>
                <button class="recommend-btn" data-title="{{i[0]}}">Recommend more</button>

            </div>
            <h4>Description :</h4>
            <p class="description"></p><br><br>
            <h4>About the Author :</h4>
            <div class="author_info">
                <img class="author_image">
                <p class="author_description"></p>
            </div><br>
            <div class="recommendations" style="display: none;" id="recommendationsContainer">
                {% if similar_books_found %}
                <h2><span style="font-size: 35px;">You searched for "<span style="color: #e4e4e4;font-size: 40px;">{{
                            data[0][0] }}</span>" book </span><br><br>Readers Also Loved :</h2>
                {% else %}
                <h2><span style="font-size: 35px;">You searched for "<span style="color: #e4e4e4;font-size: 40px;">{{
                            data[0][0] }}</span>" book </span><br><br>Similar Books :</h2>
                {% endif %}
            </div>

        </div>
        {% endfor %}

    </div>

    {% endif %}


    <footer style="position: relative;background-color: #222222;">
        <div class="footer-content">
            <p>Made by Dhruvin Suthar &nbsp;&nbsp;&nbsp;(T.Y B.Sc IT)</p>
            <div class="social-icons">
                <a href="https://github.com/dhruvinsuthar" target="_blank" class="fa fa-github"></a>
                <a href="https://www.linkedin.com/in/dhruvinsuthar/" target="_blank" class="fa fa-linkedin"></a>
                <a href="" class="fa fa-instagram"></a>
            </div>
            <div class="footerinfo">
                <a href="/">Popular Books</a>
                <a href="/recommend">Recommend me a Book</a>
                <a href="/contact">Contact</a>
                <a href="/about">About</a>
            </div>

            <div class="footerinfo" style="margin-left: 400px;">
                <a href="https://www.kaggle.com/datasets/arashnic/book-recommendation-dataset?select=Books.csv"
                    target="_blank">Dataset</a>
                <a href="https://console.cloud.google.com/apis/dashboard?project=bookrecommendationsystem2412"
                    target="_blank">Google API</a>
                <a href="https://www.hindawi.com/journals/acisc/2023/1514801/" target="_blank">Summary</a>
                <a href="/faqs">FAQs</a>
            </div>

        </div>
    </footer>


    <script src="/static/script/script.js"></script>

    <script>
        // Add this JavaScript for real-time dropdown suggestions
        const userInput = document.getElementById('user_input');
        const dropdownContainer = document.getElementById('dropdown-container');

        userInput.addEventListener('input', function () {
            const inputValue = userInput.value.trim().toLowerCase();

            // Fetch top 10 book titles based on input from the server
            fetch(`/dropdown?q=${inputValue}`)
                .then(response => response.json())
                .then(data => {
                    const bookTitles = data.book_titles;

                    // Update the dropdown options (limit to top 10)
                    dropdownContainer.innerHTML = '';
                    const top10Titles = bookTitles.slice(0, 10);
                    top10Titles.forEach(title => {
                        const option = document.createElement('div');
                        option.className = 'dropdown-option';
                        option.textContent = title;
                        option.addEventListener('click', function () {
                            userInput.value = title;
                            dropdownContainer.innerHTML = '';
                        });
                        dropdownContainer.appendChild(option);
                    });
                })
                .catch(error => console.error('Error fetching book titles:', error));
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const h2Tag = document.querySelector('.recommend h2');
            const cards = document.querySelectorAll('.card');

            console.log("Number of cards:", cards.length);

            if (cards.length > 0) {
                h2Tag.textContent = "Scroll Down!";
            }
            else if (cards.length === 0) {
                h2Tag.textContent = "No Books Available! Try Searching!";
            }
            console.log("Text content of h2 tag:", h2Tag.textContent);
        });</script>
    <script>
        const searchTerm = document.getElementById("user_input").value;
        document.getElementById("user_input").value = searchTerm;
        console.log(searchTerm);
    </script>


</body>

</html>